nav {
    color:white; 
    background-color:#2991c2; 
    padding: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

#sidebar {
    background-color:#0c364a; 
    flex-grow: 1; 
    display:flex; 
    flex-direction:column; 
    padding: 1rem;
}

.sidebar-button {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.sidebar-button:hover {
    background-color:#0a2d3d;
}

#main-dashboard {
    background-color: #dcedf5; 
    flex-grow: 5; 
    padding: 5rem; 
    display:flex; 
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-content: flex-start;
    max-width: 85vw;
    overflow-y: scroll;
}

.locker {
    background-color: #2991c2;
    width: 10vw;
    height: 10vw;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
}

.locker:hover{
    background-color: #2583af;
}

#dashboard-container {
    display:flex; 
    flex-direction:row; 
    align-content: stretch; 
    height: 100vh;
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d9b;
    padding-top: 50px;
  }

#modal.active {
    display: block;
}
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    border-radius: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
  }